/* span {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 50ch;

    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
} */

::before
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Popponis',sans-serif;
    font-weight: 300;
    font-size: 16px;
    /* color: #313131; */
    margin: 0;
    padding: 0;
}

h1{
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color:white;
}
nav{
    width: 100%;
    height: 50px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 10;

}

nav a:not(:last-child) {
    margin-right: 25px;
}

/* a{
    text-decoration: none;
    color:white;
    transition: color 0.3s ease-in-out;
}

a:hover{
    color: #5ee0c2;;
} */

section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: 0 0 10px rgb(0,0,0,0.16);
}

section:nth-of-type(1){
    /* background-color: #F04A63; */
    background-color: #000;    
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
}
.centrar-div{
    display: flex;flex-direction: column;align-items: center;justify-content: center;
}